:root{
    --bg-color:#8fe840;
    --header-bg-color:#008803;
    --header-color:#ffffff;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--bg-color);
}

header{
    background-color: var(--header-bg-color);
    color: var(--header-color);
    padding: 20px 0;
}

header span {
    font-size: 2em;
}

header > div{
    margin: auto;
    min-width: 100px;
    max-width: 500px;
}

header > div > div:nth-child(1){
    margin-right: 15%;
}

header > div > div{
    display: inline-block;

}

#screen{
    background-color: brown;
    margin: auto;
    padding: 1%;
}

.ad{
    width: 200px;
    height: 80%;
    background-color: white;
    position: fixed;
    top: 10%;
    display: block;
    margin: 10px;
}

.l{
    left: 0;
    
}

.r{
    right: 0;

}

@media (max-width:800px) {
    .ad{
       display: none;
    }
}